@use 'base';
@use 'light';
@use '../../mastodon/theme/light' as mastodon-light;
@use '../../mastodon/theme/utils' as utils;

html {
  @include base.palette;
}

// Retro 95 is always light theme
[data-color-scheme='dark'],
[data-color-scheme='light'],
html:not([data-color-scheme]) {
  color-scheme: light;

  @include mastodon-light.tokens;
  @include utils.invert-on-light;
  @include light.tokens;

  &[data-contrast='high'],
  [data-contrast='high'] & {
    @include mastodon-light.contrast-overrides;
  }
}
