@import 'flavours/glitch/styles/mastodon-light';
@import 'styles/qdon-big-diff';

html {
  scrollbar-color: #dee8d9 rgba(222, 232, 217, 0.25);
}

body {
  background: hsl(100deg, 15.8%, 96.3%);
}

:root {
  --dropdown-border-color: hsl(106deg, 24.6%, 76.1%);
  --dropdown-background-color: hsl(114deg, 24.4%, 83.9%);
  --modal-background-color: hsl(120deg, 25%, 92.2%);
  --modal-border-color: hsl(111deg, 24.4%, 83.9%);
}

body.lighter {
  background-color: #e1eae0;
}

.button,
.simple_form button,
.notification__filter-bar button.active::before,
.account__section-headline a.active::before,
.poll__chart.leading,
.glitch.local-settings__navigation__item.active,
.notification.unread::before,
.pillbar-button:not([disabled]).active,
.react-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track,
.react-toggle--checked .react-toggle-track,
.upload-progress__tracker,
.privacy-dropdown__option:hover, .privacy-dropdown__option.active,
.admin-wrapper .content__heading__tabs a.selected,
.simple_form button:active, .simple_form button:focus, .simple_form
button:hover, .simple_form .button:active, .simple_form .button:focus,
.simple_form button, .simple_form .button, .simple_form .block-button,
.rules-list li::before,
.progress-tracker .separator.completed,
.progress-tracker .active .circle::before,
.actions-modal ul li:not(:empty) a.active, .actions-modal ul li:not(:empty)
a.active button, .actions-modal ul li:not(:empty) a:active, .actions-modal ul
li:not(:empty) a:active button, .actions-modal ul li:not(:empty) a:focus,
.actions-modal ul li:not(:empty) a:focus button, .actions-modal ul
li:not(:empty) a:hover, .actions-modal ul li:not(:empty) a:hover button,
.language-dropdown__dropdown__results__item.active {
  background-color: #34842d;
}

.button:disabled,
.poll__chart,
.muted .poll__chart.leading {
  background-color: #bedbbb;
}

.status.collapsed .status__content::after {
  background-color: linear-gradient(rgba(217,225,232,0),#e8f0e7);
}

.account__header__account-note textarea {
  background-color: #c4d7c2;
}

.follow_requests-unlocked_explanation {
  background-color: #e7f0e6;
}

.search__input,
.notification__filter-bar, .account__section-headline,
.account__header__bar {
  background-color: #d1e1cf;
  border-bottom: 1px solid #b7d1b3;
}

.muted .poll__chart,
a.active::before, .notification.unread::before {
  background-color: rgba(220, 248, 216, 70%);
}

.status.unread::before {
  background-color: rgba(220, 248, 216, 43%);
  border-inline-start: 4px solid #34842d;
}

.progress-tracker .separator {
  background-color: #b4cfb0;
}

.button:hover,
.button:active,
.button:focus,
.simple_form button:hover,
.simple_form button:active,
.simple_form button:focus,
.pillbar-button:not([disabled]).active:hover,
.pillbar-button:not([disabled]).active:focus,
.simple_form .button:hover, .simple_form .block-button:active, .simple_form
.block-button:focus, .simple_form .block-button:hover {
  background-color: #2e7927;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  background-color: #3d8f35;
}

.compose-form .compose-form__buttons-wrapper {
  background-color: hsl(112.5deg, 26.7%, 94.1%);
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: hsl(125deg, 16.4%, 28.6%);
}

.react-toggle-thumb {
  background-color: #ffffff;
}

.pillbar-button:not([disabled]):hover, .pillbar-button:not([disabled]):focus {
  background-color: hsl(105deg, 16.4%, 28.6%);
}

.getting-started .column-link:hover, .getting-started .column-link:active,
.getting-started .column-link:focus, .scrollable .column-link:hover, .scrollable
.column-link:active, .scrollable .column-link:focus {
  background-color: #cddbc9;
}

.column-header__wrapper.active::before {
  background-color: radial-gradient(ellipse,rgba(9, 111, 0, 0.23) 0,rgba(124, 168, 118, 0) 60%);
}

.explore__search-header {
  background-color: #e7f0e6;
}

.button.button-tertiary:active, .button.button-tertiary:focus,
.button.button-tertiary:hover {
  background-color: #2e7927;
}

.icon-with-badge__badge {
  background-color: #3cb332;
}

.switch-to-advanced {
  background-color: #dae8d9;
  color: #4c5d44;
}

.load-more:hover {
  background-color: #cfe1d1;
}

.dismissable-banner, .warning-banner {
  background-color: rgba(173, 202, 167, 0.15);
  border: 1px solid #60a638;
}

.progress-tracker .completed .circle {
  background: #34842d;
  border-color: #34842d;
}

.column-subheading {
  background-color: hsl(126deg, 25%, 92.2%);
  border-bottom: 1px solid hsl(110.4deg, 24.8%, 80.2%);
}

.progress-tracker .active .circle {
  border-color: #34842d;
}

.getting-started .column-link, .scrollable .column-link {
  border-bottom: 1px solid hsl(108deg, 24.8%, 80.2%);
}

.notification__filter-bar {
  border: 1px solid hsl(117.6deg, 24.8%, 80.2%);
}

.drawer__header, .drawer__inner,
.compose-form__autosuggest-wrapper, .poll__option input[type="text"],
.compose-form .spoiler-input__input, .compose-form__poll-wrapper select,
.search__input, .setting-text, .report-dialog-modal__textarea, .audio-player,
.column-back-button, .column-header {
  border: 1px solid hsl(108deg, 24.8%, 80.2%);
}

.load-gap,
.about__section__body {
  border-bottom: 1px solid #c0d9c0;
}

.account__action-bar__tab {
  border-inline-start: 1px solid #c4d9c0;
}

.account__header__account-note {
  border-bottom: 1px solid #b7d1b3;
  border-top: 1px solid #b7d1b3;
}

.column > .scrollable, .getting-started, .column-inline-form,
.regeneration-indicator {
  border: 1px solid hsl(108deg, 24.8%, 80.2%);
  border-top: 0;
}

.simple_form input[type="datetime-local"]:active, .simple_form
input[type="datetime-local"]:focus, .simple_form input[type="email"]:active,
.simple_form input[type="email"]:focus, .simple_form
input[type="number"]:active, .simple_form input[type="number"]:focus,
.simple_form input[type="password"]:active, .simple_form
input[type="password"]:focus, .simple_form input[type="text"]:active,
.simple_form input[type="text"]:focus, .simple_form input[type="url"]:active,
.simple_form input[type="url"]:focus, .simple_form textarea:active, .simple_form
textarea:focus {
  border-color: #3cbf31;
}

.status {
  border-bottom: 1px solid hsl(115.2deg, 24.8%, 80.2%);
}

.account__action-bar__tab.active {
  border-bottom: 4px solid #34842d;
}

.react-toggle--checked .react-toggle-thumb,
.poll__option input[type="text"]:focus,
.compose-form__poll-wrapper .poll__footer button:focus, .compose-form__poll-wrapper .poll__footer select:focus {
  border-color: #34842d;
}

.setting-text:active, .setting-text:focus {
  border-bottom-color: #4cbb43;
}

.progress-tracker .circle,
.about__meta, .about__section__title, .interaction-modal {
  border: 2px solid #b4cfb0;
}

.button.button-tertiary {
  border: 1px solid #3fa636;
  color: #3fa636;
}

.filters .filter-subset a.selected {
  color: #34842d;
  border-bottom: 2px solid #6bbf7c;
}

.status__content a,
.status__content__translate-button,
.column-header__back-button,
.column-link--transparent.active,
.notification__message .icon,
.icon-button.star-icon.active,
.status__content a.unhandled-link,
.column-header__button.active:hover, .column-header__button.active:active,
.column-header__button.active:focus,
body .muted-hint a, .admin-wrapper .content .muted-hint a,
.dismissable-banner__action .icon-button, .warning-banner__action .icon-button,
.simple_form .input.boolean label a,
.about__section__title {
  color: #34842d;
}

.icon-button.active:active, .icon-button.active:focus,
.icon-button.active:hover,
.icon-button.active {
  color: #3bc62e;
}

.notification-bar-action  {
  color: #479d3f;
}

.link-footer p,
.link-footer p a,
.status__relative-time,
.status__display-name,
.status__info__icons,
.icon-button {
  color: #4c644b;
}

.switch-to-advanced .switch-to-advanced__toggle,
.empty-column-indicator a, .follow_requests-unlocked_explanation a {
  color: #34842d;
}

.load-more {
  color: #445d48;
}

.simple_form .button.button-tertiary {
  color: #fff;
}

.empty-column-indicator, .follow_requests-unlocked_explanation {
  color: #485d44;
}

.text-icon-button:focus {
  outline: 2px solid #5bb054;
}

.compose-form__highlightable.active {
  box-shadow: 0 0 0 6px #60a638;
}


@media screen and (max-width: 1174px) {
  .layout-single-column .ui__header {
    background-color: #dbe8d9;
    border-bottom: 1px solid #c2d9c0;
  }

  .columns-area__panels__pane--navigational .navigation-panel {
    background-color: #dbe8d9;
    border-inline-start: 1px solid #c2d9c0;
  }
}
