@import 'flavours/glitch/styles/mastodon-light';
@import 'styles/qdon-big-diff';

.button,
.simple_form button,
.notification__filter-bar button.active::before,
.account__section-headline a.active::before,
.poll__chart.leading,
.icon-button.active {
  background-color: #34842d;
}

.button:disabled,
.poll__chart,
.glitch.local-settings__navigation__item.active,
.muted .poll__chart.leading {
  background-color: #bedbbb;
}

.muted .poll__chart {
  background-color: rgba(220, 248, 216, 70%);
}

.button:hover,
.button:active,
.button:focus,
.simple_form button:hover,
.simple_form button:active,
.simple_form button:focus {
  background-color: #2e7927;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  background-color: #3d8f35;
}

.icon-button:active, .icon-button:focus, .icon-button:hover {
  background-color: #526f51;
}

.status__content a,
.status__content__translate-button,
.column-header__back-button,
.column-link--transparent.active,
.icon-button.active:active, .icon-button.active:focus,
.icon-button.active:hover,
.notification__message .icon {
  color: #34842d;
}
