@import 'flavours/glitch/styles/mastodon-light';
@import 'styles/qdon-big-diff';

html {
  scrollbar-color: #dee8d9 rgba(222, 232, 217, 0.25);
}

body {
  background: hsl(100deg, 15.8%, 96.3%);
}

:root {
  --dropdown-border-color: hsl(106deg, 24.6%, 76.1%);
  --dropdown-background-color: hsl(114deg, 24.4%, 83.9%);
  --modal-background-color: hsl(120deg, 25%, 92.2%);
  --modal-border-color: hsl(111deg, 24.4%, 83.9%);
}

.button,
.simple_form button,
.notification__filter-bar button.active::before,
.account__section-headline a.active::before,
.poll__chart.leading,
.glitch.local-settings__navigation__item.active,
.notification.unread::before, .status.unread::before,
.pillbar-button:not([disabled]).active,
.react-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track,
.react-toggle--checked .react-toggle-track,
.upload-progress__tracker,
.privacy-dropdown__option:hover, .privacy-dropdown__option.active,
.admin-wrapper .content__heading__tabs a.selected,
.simple_form button:active, .simple_form button:focus, .simple_form
button:hover, .simple_form .button:active, .simple_form .button:focus,
.simple_form button, .simple_form .button, .simple_form .block-button {
  background-color: #34842d;
}

.button:disabled,
.poll__chart,
.muted .poll__chart.leading {
  background-color: #bedbbb;
}

.search__input,
.notification__filter-bar, .account__section-headline {
  background-color: #d1e1cf;
}

.muted .poll__chart,
a.active::before, .notification.unread::before, .status.unread::before {
  background-color: rgba(220, 248, 216, 70%);
}

.button:hover,
.button:active,
.button:focus,
.simple_form button:hover,
.simple_form button:active,
.simple_form button:focus,
.pillbar-button:not([disabled]).active:hover,
.pillbar-button:not([disabled]).active:focus,
.simple_form .button:hover, .simple_form .block-button:active, .simple_form
.block-button:focus, .simple_form .block-button:hover {
  background-color: #2e7927;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  background-color: #3d8f35;
}

.compose-form .compose-form__buttons-wrapper {
  background-color: hsl(112.5deg, 26.7%, 94.1%);
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: hsl(125deg, 16.4%, 28.6%);
}

.react-toggle-thumb {
  background-color: #ffffff;
}

.pillbar-button:not([disabled]):hover, .pillbar-button:not([disabled]):focus {
  background-color: hsl(105deg, 16.4%, 28.6%);
}

.getting-started .column-link:hover, .getting-started .column-link:active,
.getting-started .column-link:focus, .scrollable .column-link:hover, .scrollable
.column-link:active, .scrollable .column-link:focus {
  background-color: #cddbc9;
}

.column-subheading {
  background: hsl(126deg, 25%, 92.2%);
  border-bottom: 1px solid hsl(110.4deg, 24.8%, 80.2%);
}

.getting-started .column-link, .scrollable .column-link {
  border-bottom: 1px solid hsl(108deg, 24.8%, 80.2%);
}

.notification__filter-bar {
  border: 1px solid hsl(117.6deg, 24.8%, 80.2%);
}

.drawer__header, .drawer__inner,
.compose-form__autosuggest-wrapper, .poll__option input[type="text"],
.compose-form .spoiler-input__input, .compose-form__poll-wrapper select,
.search__input, .setting-text, .report-dialog-modal__textarea, .audio-player,
.column-back-button, .column-header {
  border: 1px solid hsl(108deg, 24.8%, 80.2%);
}

.column > .scrollable, .getting-started, .column-inline-form,
.regeneration-indicator {
  border: 1px solid hsl(108deg, 24.8%, 80.2%);
  border-top: 0;
}

.status {
  border-bottom: 1px solid hsl(115.2deg, 24.8%, 80.2%);
}

.react-toggle--checked .react-toggle-thumb,
.poll__option input[type="text"]:focus,
.compose-form__poll-wrapper .poll__footer button:focus, .compose-form__poll-wrapper .poll__footer select:focus {
  border-color: #34842d;
}

.filters .filter-subset a.selected {
  color: #34842d;
  border-bottom: 2px solid #6bbf7c;
}

.status__content a,
.status__content__translate-button,
.column-header__back-button,
.column-link--transparent.active,
.icon-button.active,
.icon-button.active:active, .icon-button.active:focus,
.icon-button.active:hover,
.notification__message .icon,
.icon-button.star-icon.active,
.status__content a.unhandled-link,
.column-header__button.active:hover, .column-header__button.active:active,
.column-header__button.active:focus,
body .muted-hint a, .admin-wrapper .content .muted-hint a {
  color: #34842d;
}

.notification-bar-action {
  color: #479d3f;
}

.link-footer p,
.link-footer p a,
.status__relative-time,
.status__display-name,
.status__info__icons,
.icon-button {
  color: #4c644b;
}
