@use 'sass:color';
@use 'variables' as *;

:root {
  --dropdown-shadow: 0 20px 25px -5px #{rgba($base-shadow-color, 0.25)},
    0 8px 10px -6px #{rgba($base-shadow-color, 0.25)};
  --modal-background-variant-color: #{rgba($ui-base-color, 0.7)};
  --surface-background-color: #{color.adjust($ui-base-color, $lightness: -4%)};
  --surface-variant-background-color: #{color.adjust(
      $ui-base-lighter-color,
      $lightness: -5%
    )};
  --surface-variant-active-background-color: #{color.adjust(
      $ui-primary-color,
      $lightness: 4%
    )};
  --avatar-border-radius: 8px;
  --input-background-color: #{$ui-base-color};
  --on-input-color: #{darker-text-color};
}

body {
  --dropdown-border-color: #{$ui-base-color};
  --dropdown-background-color: #fff;
  --modal-border-color: #bad1ba;
  --modal-background-color: var(--background-color-tint);
  --background-border-color: #c7e0c3;
  --background-color: #{$simple-background-color};
  --background-color-tint: rgba(239, 252, 227, 80%);
  --background-filter: blur(10px);
  --rich-text-text-color: hsla(114deg, 19%, 34%, 100%);
  --rich-text-decorations-color: hsla(114deg, 30.8%, 79.6%, 100%);
  --rich-text-container-color: hsla(114deg, 30.8%, 79.6%, 80%);
}
