@use 'sass:math';
@use 'sass:color';
@use 'variables' as *;
@use '../mastodon-light/diff' as *;

html {
  scrollbar-color: $ui-base-color rgba($ui-base-color, 0.25);
}

body {
  color: color.adjust($ui-primary-color, $saturation: -20%);
}

.account {
  &__display-name {
    & .display-name {
      color: color.adjust($ui-base-color, $lightness: -30%);

      & strong {
        color: $ui-primary-color;
      }
    }
  }

  &__header {
    background: $white;
  }

  &__section-headline {
    & a {
      color: color.adjust($ui-base-color, $lightness: -30%);

      &:hover,
      &:active,
      &:focus {
        color: color.adjust($ui-base-color, $lightness: -25%);
      }

      &.active {
        color: $ui-primary-color;

        &::before {
          background: $ui-primary-color;
        }
      }
    }
  }
}

.accounts-table {
  &__count {
    color: color.adjust($ui-primary-color, $saturation: -20%);

    & small {
      color: color.adjust($default, $lightness: -20%, $saturation: -20%);
    }
  }

  & .account__display-name {
    color: color.adjust($default, $lightness: -20%, $saturation: -20%);

    & .display-name strong {
      color: color.adjust($ui-primary-color, $saturation: -20%);
    }
  }

  & tbody td.accounts-table__extra {
    color: color.adjust($default, $lightness: -20%, $saturation: -20%);
  }
}

.admin-wrapper {
  & .announcements-list {
    &__item {
      &__meta {
        color: color.adjust($ui-primary-color, $lightness: -5%);
      }

      &__title {
        color: color.adjust($ui-primary-color, $lightness: -5%);
      }
    }
  }

  & .content {
    &__heading {
      &__tabs a:hover {
        background: $ui-primary-color;
      }
    }

    & h2 {
      color: color.adjust($ui-primary-color, $lightness: -5%);
    }

    & h3,
    h4 {
      color: color.adjust($ui-primary-color, $saturation: -20%);
    }

    & > p {
      color: color.adjust($default, $lightness: -25%, $saturation: -20%);
    }
  }

  & .content__heading__tabs {
    & a {
      color: color.adjust(
        $ui-primary-color,
        $lightness: 20%,
        $saturation: -20%
      );

      &.selected {
        background: $ui-primary-color;
      }
    }
  }

  & .sidebar {
    & ul {
      & a {
        color: color.adjust(
          $ui-base-color,
          $lightness: -40%,
          $saturation: -20%
        );

        &:hover,
        &:active,
        &:focus {
          background: $ui-primary-color;
          color: $white;
        }
      }

      & .selected {
        background: $ui-base-color;

        & ul {
          background: $ui-base-color;
        }

        & .simple-navigation-active-leaf a {
          color: color.adjust($ui-primary-color, $lightness: -5%);
        }
      }

      & .simple-navigation-active-leaf {
        & a {
          color: $ui-primary-color;
        }
      }
    }
  }
}

.app-form {
  &__avatar-input,
  &__header-input {
    &:hover,
    &:focus,
    &:active {
      background: $ui-base-lighter-color;
    }

    & .icon {
      color: color.adjust($ui-primary-color, $lightness: -5%);
    }
  }

  &__toggle__label {
    & strong {
      color: color.adjust($ui-primary-color, $lightness: 5%, $saturation: 15%);
    }

    & .hint {
      color: color.adjust($ui-primary-color, $lightness: 5%, $saturation: -20%);
    }
  }
}

.button {
  background: $ui-primary-color;

  &:hover,
  &:active,
  &:focus {
    background: color.adjust($ui-primary-color, $lightness: 5%);
  }

  &.button-secondary {
    color: color.adjust($ui-primary-color, $lightness: 5%);
    border: 1px solid color.adjust($ui-primary-color, $lightness: 5%);

    &:hover,
    &:active,
    &:focus {
      color: color.adjust($ui-primary-color, $lightness: 15%);
      border: 1px solid color.adjust($ui-primary-color, $lightness: 15%);
    }
  }
}

.character-counter {
  color: color.adjust($ui-base-color, $lightness: -20%, $saturation: -20%);
}

.column {
  &-header {
    &__button {
      color: $ui-primary-color;

      &:hover,
      &:active,
      &:focus {
        color: color.adjust($ui-primary-color, $lightness: 10%);
      }

      &.active {
        color: $ui-highlight-color;

        &:hover,
        &:active,
        &:focus {
          color: color.adjust($ui-highlight-color, $lightness: 10%);
        }
      }
    }

    &__collapsible,
    & &__back-button.compact {
      color: color.adjust($ui-primary-color, $lightness: 5%, $saturation: -20%);
    }
  }

  &-link {
    color: color.adjust($ui-primary-color, $saturation: -20%);

    &:hover,
    &:active,
    &:focus {
      color: color.adjust($ui-primary-color, $lightness: 15%);
    }

    &.active {
      color: $ui-primary-color;
    }
  }

  &-settings h3 {
    color: color.adjust($primary-text-color, $lightness: 10%);
  }

  &-subheading {
    background: $ui-base-color;
    color: $ui-primary-color;
  }
}

.compose-form {
  box-shadow: none;

  &__actions .icon-button {
    color: color.adjust($ui-primary-color, $lightness: 10%);
  }

  & .autosuggest-textarea__textarea,
  &__highlightable {
    background: $ui-base-color;
    color: $primary-text-color;
  }

  & &__warning {
    border-color: $ui-highlight-color;
    background-color: rgba($ui-highlight-color, 0.1);

    &,
    a {
      color: $ui-highlight-color;
    }
  }
}

.dashboard {
  &__quick-access {
    background: $ui-primary-color;

    &:hover,
    &:active,
    &:focus {
      background: color.adjust($ui-primary-color, $lightness: -10%);
    }
  }
}

.dimension {
  &__item {
    &__indicator {
      background-color: $ui-highlight-color;

      @for $i from 0 through 10 {
        &--#{10 * $i} {
          background-color: rgba(
            $ui-highlight-color,
            1 * (math.div(max(1, $i), 10))
          );
        }
      }
    }

    &__value {
      color: color.adjust($ui-base-color, $lightness: -20%);
    }
  }
}

.dismissable-banner {
  border: 1px solid color.adjust($ui-base-color, $lightness: -16%);
  background: $ui-base-color;

  &__action {
    & .icon-button {
      color: color.adjust(
        $ui-primary-color,
        $lightness: 20%,
        $saturation: -15%
      );
    }
  }

  &__message {
    color: color.adjust($ui-primary-color, $lightness: 20%, $saturation: -15%);
  }
}

.drawer {
  &__header {
    & a {
      color: color.adjust($ui-primary-color, $lightness: -5%);

      &:hover,
      &:active,
      &:focus {
        color: $ui-primary-color;
      }
    }
  }
}

.dropdown-button {
  color: color.adjust($ui-primary-color, $lightness: 10%);
  border: 1px solid color.adjust($ui-primary-color, $lightness: 10%);

  &.active {
    color: $white;
    background: $ui-primary-color;
    border-color: $ui-primary-color;
  }
}

.filters {
  & .filter-subset a {
    color: color.adjust($default, $lightness: -15%, $saturation: -15%);
    border-bottom: 2px solid
      color.adjust($default, $lightness: -10%, $saturation: -15%);

    &.selected {
      color: $ui-primary-color;
      border-bottom: 2px solid $ui-primary-color;

      &:hover,
      &:active,
      &:focus {
        color: color.adjust($ui-primary-color, $lightness: 10%);
        border-bottom: 2px solid
          color.adjust($ui-primary-color, $lightness: 10%);
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $ui-primary-color;
      border-bottom: 2px solid color.adjust($ui-primary-color, $lightness: 5%);
    }
  }
}

.flash-message {
  border: 1px solid color.adjust($ui-base-color, $lightness: -16%);
  color: color.adjust($ui-primary-color, $lightness: 5%);

  &.translation-prompt {
    color: color.adjust($ui-primary-color, $lightness: 20%, $saturation: -20%);

    a {
      color: color.adjust($ui-primary-color, $saturation: 10%);

      &:hover,
      &:focus,
      &:active {
        color: color.adjust(
          $ui-primary-color,
          $lightness: 5%,
          $saturation: 20%
        );
      }
    }
  }
}

.follow {
  &_requests-unlocked {
    &_explanation {
      background: $ui-base-color;
      color: color.adjust($ui-base-color, $lightness: -40%);

      & a {
        color: $ui-primary-color;
      }
    }
  }
}

.icon-button {
  color: color.adjust($ui-primary-color, $lightness: 10%, $saturation: -20%);

  &:disabled {
    color: color.adjust($action-button-color, $lightness: -25%);
  }
}

.language {
  &-dropdown {
    &__dropdown {
      & .emoji-mart-search input {
        background: $ui-base-color;
        color: color.adjust($ui-primary-color, $lightness: 40%);
      }

      &__results {
        &__item {
          color: $primary-text-color;

          &__common-name {
            color: color.adjust($ui-base-color, $lightness: -40%);
          }

          &.active {
            background: $ui-primary-color;
          }
        }
      }
    }
  }
}

.loading-bar {
  background-color: $ui-primary-color;
}

.load-more {
  color: color.adjust($ui-primary-color, $lightness: 20%, $saturation: -20%);

  &:hover,
  &:active,
  &:focus {
    background: $ui-base-color;
  }
}

.link-footer {
  & p,
  & p a {
    color: color.adjust($ui-primary-color, $lightness: -5%);
  }
}

.nothing-here {
  color: color.adjust($default, $lightness: -15%, $saturation: -15%) !important;
}

.notification {
  &__filter-bar {
    & button {
      color: color.adjust($ui-base-color, $lightness: -30%, $saturation: -10%);

      &.active {
        color: $ui-primary-color;

        &::before {
          background: $ui-primary-color;
        }

        &::after {
          border-color: transparent transparent $white;
        }
      }
    }
  }

  &-group {
    &__embedded-status {
      &__account {
        color: color.adjust(
          $ui-base-color,
          $lightness: -40%,
          $saturation: -20%
        );
      }

      &__content {
        color: color.adjust(
          $ui-base-color,
          $lightness: -40%,
          $saturation: -20%
        );
      }
    }

    &__main {
      &__header {
        &__label {
          color: color.adjust(
            $ui-base-color,
            $lightness: -40%,
            $saturation: -20%
          );

          & bdi {
            color: $ui-primary-color;
          }
        }
      }
    }

    &__unread {
      &::before {
        border-inline-start: 4px solid $ui-primary-color;
      }
    }
  }
}

.muted-hint {
  color: color.adjust($default, $lightness: -25%, $saturation: -20%) !important;

  & a {
    color: color.adjust(
      $default,
      $lightness: -25%,
      $saturation: -5%
    ) !important;
  }
}

.permissions-list {
  &__item {
    color: color.adjust($default, $lightness: -45%);

    &__text__type {
      color: color.adjust($default, $lightness: -35%);
    }
  }
}

.pillbar {
  &-button {
    &:not([disabled]) {
      background: $ui-secondary-color;

      &:hover,
      &:active,
      &:focus {
        background: color.adjust($ui-secondary-color, $lightness: -5%);
      }

      &.active {
        background: $ui-primary-color;

        &:hover,
        &:active,
        &:focus {
          background: color.adjust($ui-primary-color, $lightness: -5%);
        }
      }
    }
  }
}

.retention {
  &__table {
    &__box {
      @for $i from 0 through 10 {
        &--#{10 * $i} {
          background-color: rgba(
            $ui-highlight-color,
            1 * (math.div(max(1, $i), 10))
          );
        }
      }
    }

    &__label {
      color: color.adjust(
        $ui-primary-color,
        $lightness: 30%,
        $saturation: -30%
      );
    }
  }
}

.simple_form {
  color: $ui-primary-color;

  & input[type='text'],
  & input[type='number'],
  & input[type='email'],
  & input[type='password'],
  & input[type='url'],
  & input[type='datetime-local'],
  & textarea {
    background: $ui-base-color;
    color: $ui-primary-color;
  }

  select {
    color: color.adjust($ui-primary-color, $saturation: -15%);
    background: color.adjust($ui-base-color)
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color(lighten($ui-base-color, 12%))}'/></svg>")
      no-repeat right 8px center / auto 14px;
  }

  & .recommended {
    border-color: $ui-highlight-color;
    color: $ui-highlight-color;
    background-color: rgba($ui-highlight-color, 0.1);
  }

  &.warning {
    box-shadow: none;
    background: rgba($error-red, 0.5);
    text-shadow: none;
  }

  & .button.button-tertiary {
    color: $highlight-text-color;
  }

  & .block-button,
  & .button,
  & button {
    background: $ui-primary-color !important;
    color: $white;
  }

  & .hint,
  & p.hint {
    color: color.adjust($ui-primary-color, $lightness: 25%, $saturation: -20%);
  }

  & .hint a {
    color: color.adjust($ui-base-color, $lightness: -35%, $saturation: -5%);
  }

  & .lead {
    color: color.adjust($ui-base-color, $lightness: -25%, $saturation: -20%);
  }

  & label {
    color: color.adjust($dark-green, $lightness: 10%) !important;
  }
}

.sparkline {
  &__graph path:first-child {
    fill: $ui-base-color !important;
  }

  &__graph path:last-child {
    stroke: color.adjust($ui-base-color, $lightness: -20%) !important;
  }

  &__label,
  &__value__total,
  &__value__change {
    color: color.adjust($ui-primary-color, $lightness: 20%, $saturation: -20%);
  }
}

.search__input {
  background: $ui-base-color;
  border: 1px solid var(--background-border-color);
  color: color.adjust($ui-primary-color, $lightness: 15%, $saturation: -20%);

  @media screen and (max-width: $no-gap-breakpoint) {
    border-top: 0;
    border-bottom: 0;
  }
}

.setting {
  &-toggle {
    &__label {
      color: color.adjust(
        $ui-primary-color,
        $lightness: 20%,
        $saturation: -20%
      );
    }
  }
}

.status {
  &-card__actions {
    & button,
    a {
      color: rgba($white, 0.8);

      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }
  }

  &__content {
    color: $primary-text-color;

    &__translate-button {
      color: color.adjust($ui-base-color, $lightness: -40%, $saturation: -20%);
    }
  }

  &__display-name {
    color: color.adjust($ui-base-color, $lightness: -40%, $saturation: -20%);

    & .display-name {
      & strong {
        color: $ui-primary-color;
      }
    }
  }

  &__info {
    &__icons {
      color: color.adjust($ui-base-color, $lightness: -40%, $saturation: -20%);
    }
  }

  &__relative-time {
    color: color.adjust($ui-base-color, $lightness: -50%, $saturation: -20%);
  }
}

a.table-action-link,
button.table-action-link {
  color: color.adjust($default, $lightness: -15%, $saturation: -15%);

  &:hover,
  &:active,
  &:focus {
    color: color.adjust($default, $lightness: -5%, $saturation: -5%);
  }
}

input.glitch-setting-text {
  color: color.adjust($ui-base-color, $lightness: -40%, $saturation: -20%);
  border-bottom: 2px solid
    color.adjust($ui-base-color, $lightness: -40%, $saturation: -20%);
}

// Glitch settings
.glitch {
  &.local-settings {
    background: $ui-base-color;

    &__navigation {
      background: $ui-base-color;

      &__item {
        background: color.adjust($ui-base-color, $lightness: 5%);
        border-bottom: 1px solid color.adjust($ui-base-color, $lightness: -10%);

        &:hover,
        &:active,
        &:focus {
          background: $ui-base-color;
        }

        &.active {
          background: $ui-primary-color;
        }
      }
    }
  }
}

// Change default background colors of columns
.interaction-modal {
  background: $white;
  border: 1px solid var(--background-border-color);
}

.rules-list li::before {
  background: $ui-highlight-color;
}

.directory__card__img {
  background: color.adjust($ui-base-color, $lightness: 12%);
}

.getting-started__footer a {
  color: $ui-secondary-color;
  text-decoration: underline;
}

.confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  color: color.adjust($ui-base-color, $lightness: 26%);

  &:hover,
  &:focus,
  &:active {
    color: $primary-text-color;
  }
}

.getting-started .navigation-bar {
  border-top: 1px solid var(--background-border-color);
  border-bottom: 1px solid var(--background-border-color);

  @media screen and (max-width: $no-gap-breakpoint) {
    border-top: 0;
  }
}

.search__popout,
.setting-text,
.report-dialog-modal__textarea,
.audio-player {
  border: 1px solid var(--background-border-color);
}

.report-dialog-modal .dialog-option .poll__input {
  color: $white;
}

.list-editor .search .search__input {
  border-top: 0;
  border-bottom: 0;
}

.upload-progress__backdrop {
  background: $ui-base-color;
}

// Change the background colors of statuses
.focusable:focus {
  background: color.adjust($white, $lightness: 4%);
}

// Change the background colors of status__content__spoiler-link
.reply-indicator__content .status__content__spoiler-link,
.status__content .status__content__spoiler-link {
  background: $ui-base-color;

  &:hover,
  &:focus {
    background: color.adjust($ui-base-color, $lightness: 4%);
  }
}

.account-gallery__item a {
  background-color: $ui-base-color;
}

// Change the text colors on inverted background
.actions-modal ul li:not(:empty) a.active,
.actions-modal ul li:not(:empty) a.active button,
.actions-modal ul li:not(:empty) a:active,
.actions-modal ul li:not(:empty) a:active button,
.actions-modal ul li:not(:empty) a:focus,
.actions-modal ul li:not(:empty) a:focus button,
.actions-modal ul li:not(:empty) a:hover,
.actions-modal ul li:not(:empty) a:hover button,
.compare-history-modal .report-modal__target,
.report-dialog-modal .poll__option.dialog-option {
  border-bottom-color: color.adjust($ui-base-color, $lightness: 4%);
}

.report-dialog-modal__container {
  border-top-color: color.adjust($ui-base-color, $lightness: 4%);
}

// Change the background colors of modals
.actions-modal,
.boost-modal,
.confirmation-modal,
.mute-modal,
.block-modal,
.report-modal,
.report-dialog-modal,
.embed-modal,
.error-modal,
.onboarding-modal,
.compare-history-modal,
.report-modal__comment .setting-text__wrapper,
.report-modal__comment .setting-text,
.announcements,
.picture-in-picture__header,
.picture-in-picture__footer,
.reactions-bar__item {
  background: $white;
  border: 1px solid var(--background-border-color);
}

.reactions-bar__item:hover,
.reactions-bar__item:focus,
.reactions-bar__item:active {
  background-color: $ui-base-color;
}

.reactions-bar__item.active {
  background-color: mix($white, $ui-highlight-color, 80%);
  border-color: mix(
    color.adjust($ui-base-color, $lightness: 8%),
    $ui-highlight-color,
    80%
  );
}

.media-modal__overlay .picture-in-picture__footer {
  border: 0;
}

.picture-in-picture__header {
  border-bottom: 0;
}

.announcements,
.picture-in-picture__footer {
  border-top: 0;
}

.icon-with-badge__badge {
  border-color: $white;
  color: $white;
}

.report-modal__comment {
  border-right-color: color.adjust($ui-base-color, $lightness: 8%);
}

.report-modal__container {
  border-top-color: color.adjust($ui-base-color, $lightness: 8%);
}

.column-settings__hashtags .column-select__option {
  color: $white;
}

.dashboard__quick-access,
.focal-point__preview strong {
  color: $white;
}

.boost-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar,
.block-modal__action-bar,
.onboarding-modal__paginator,
.error-modal__footer {
  background: color.adjust($ui-base-color, $lightness: -6%);

  .onboarding-modal__nav,
  .error-modal__nav {
    &:hover,
    &:focus,
    &:active {
      background-color: color.adjust($ui-base-color, $lightness: -12%);
    }
  }
}

.display-case__case {
  background: $white;
}

.embed-modal .embed-modal__container .embed-modal__html {
  background: $white;
  border: 1px solid var(--background-border-color);

  &:focus {
    border-color: color.adjust($ui-base-color, $lightness: 12%);
    background: $white;
  }
}

.react-toggle {
  &-track {
    background: color.adjust($ui-base-color, $lightness: -30%);
  }

  &:hover:not(&--disabled) &-track {
    background: color.adjust($ui-base-color, $lightness: -40%);
  }

  &.react-toggle--checked {
    .react-toggle-track {
      background: color.adjust($ui-primary-color, $lightness: 10%);
    }

    &:hover:not(&--disabled) .react-toggle-track {
      background: $ui-primary-color;
    }
  }
}

// Change the default color used for the text in an empty column or on the error column
.empty-column-indicator,
.error-column {
  color: $primary-text-color;
  background: $white;
}

// Change the default colors used on some parts of the profile pages
.activity-stream-tabs {
  background: $account-background-color;
  border-bottom-color: color.adjust($ui-base-color, $lightness: 8%);
}

.nothing-here,
.page-header,
.directory__tag > a,
.directory__tag > div {
  background: $white;
  border: 1px solid var(--background-border-color);
}

.picture-in-picture-placeholder {
  background: $white;
  border-color: color.adjust($ui-base-color, $lightness: 8%);
  color: color.adjust($ui-base-color, $lightness: 8%);
}

.directory__tag > a {
  &:hover,
  &:active,
  &:focus {
    background: $ui-base-color;
  }
}

.batch-table {
  &__toolbar,
  &__row,
  .nothing-here {
    border-color: color.adjust($ui-base-color, $lightness: 8%);
  }
}

.activity-stream {
  border: 1px solid var(--background-border-color);

  &--under-tabs {
    border-top: 0;
  }

  .entry {
    background: $account-background-color;

    .detailed-status.light,
    .more.light,
    .status.light {
      border-bottom-color: color.adjust($ui-base-color, $lightness: 8%);
    }
  }

  .status.light {
    .status__content {
      color: $primary-text-color;
    }

    .display-name {
      strong {
        color: $primary-text-color;
      }
    }
  }
}

.accounts-grid {
  .account-grid-card {
    .controls {
      .icon-button {
        color: $darker-text-color;

        &:disabled {
          color: color.adjust($ui-base-color, $saturation: -20%);
        }
      }
    }

    .name {
      a {
        color: $primary-text-color;
      }
    }

    .username {
      color: $darker-text-color;
    }

    .account__header__content {
      color: $primary-text-color;
    }
  }
}

.status__content,
.reply-indicator__content {
  a {
    color: $highlight-text-color;
  }
}

.account__section-headline a.active::after {
  border-color: transparent transparent $white;
}

.hero-widget,
.moved-account-widget,
.memoriam-widget,
.activity-stream,
.nothing-here,
.directory__tag > a,
.directory__tag > div,
.card > a,
.page-header {
  box-shadow: none;
}

.card {
  &__img {
    background: color.adjust($ui-base-color, $lightness: -10%);
  }

  & > a {
    &:hover,
    &:active,
    &:focus {
      .card__bar {
        background: color.adjust($ui-base-color, $lightness: -10%);
      }
    }
  }
}

.mute-modal select {
  border: 1px solid var(--background-border-color);
  background: $simple-background-color
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color(lighten($ui-base-color, 8%))}'/></svg>")
    no-repeat right 8px center / auto 16px;
}

.status__wrapper-direct {
  background-color: rgba($ui-highlight-color, 0.1);

  &:focus {
    background-color: rgba($ui-highlight-color, 0.15);
  }
}

.privacy {
  &-dropdown {
    &__option {
      color: $primary-text-color;

      &:hover,
      &:active,
      &:focus {
        background: $ui-base-color;
      }

      & strong {
        color: $ui-primary-color;
      }

      &.active {
        background: $ui-primary-color;
      }

      &__additional,
      &__content {
        color: color.adjust($ui-base-color, $lightness: -40%);
      }
    }
  }
}

.compose-form__actions .icon-button.active,
.privacy-dropdown__option.active,
.privacy-dropdown__option:focus,
.privacy-dropdown__option:focus .privacy-dropdown__option__content,
.privacy-dropdown__option:focus .privacy-dropdown__option__content strong,
.privacy-dropdown__option.active .privacy-dropdown__option__content,
.privacy-dropdown__option.active .privacy-dropdown__option__content strong {
  color: $white;
}

.compose-form .spoiler-input__input {
  color: color.adjust($ui-highlight-color, $lightness: 8%);
}

.autosuggest-textarea__suggestions,
.search__popout,
.emoji-mart-search input,
.language-dropdown__dropdown .emoji-mart-search input,
.poll__option input[type='text'] {
  background: color.adjust($ui-base-color, $lightness: -10%);
}

.inline-follow-suggestions {
  background-color: rgba($ui-highlight-color, 0.1);
  border-bottom-color: rgba($ui-highlight-color, 0.3);
}

.inline-follow-suggestions__body__scrollable__card {
  background: $white;
}

.inline-follow-suggestions__body__scroll-button__icon {
  color: $white;
}

a.sparkline {
  &:hover,
  &:focus,
  &:active {
    background: color.adjust($ui-base-color, $lightness: -10%);
  }
}

.dashboard__counters {
  & > div {
    & > a {
      &:hover,
      &:focus,
      &:active {
        background: color.adjust($ui-base-color, $lightness: -10%);
      }
    }
  }
}

.directory {
  &__tag {
    & > a {
      &:hover,
      &:focus,
      &:active {
        background: color.adjust($ui-base-color, $lightness: -10%);
      }
    }
  }
}

.strike-entry {
  &:hover,
  &:focus,
  &:active {
    background: color.adjust($ui-base-color, $lightness: -10%);
  }
}

.setting-text {
  background: color.adjust($ui-base-color, $lightness: -10%);
}

.report-dialog-modal__textarea {
  background: color.adjust($ui-base-color, $lightness: -10%);
}

.autosuggest-account {
  .display-name__account {
    color: $dark-text-color;
  }
}

.notification-bar-action {
  color: $green;
}

// poll chart colors
.poll {
  &__chart {
    background: transparentize($ui-primary-color, 0.3);

    &.leading {
      background: $ui-highlight-color;
    }
  }
}

.notification-group--annual-report {
  .notification-group__icon,
  .notification-group__main .link-button {
    color: $ui-button-focus-background-color;
  }
}
