$basegreen: #34842d;
$hovergreen: #2e7927;
$activeicon: #3bc62e;
$bordercolor: #c4d9c0;
$settingbackgroundcolor: #e6f0e7;
$menuitembackgroundcolor: #d1e1cf;
$menuitembordercolor: #c1d9c0;

$ui-highlight-color: $basegreen;

@import '../mastodon/variables';
