@use 'sass:color';
@use '../mastodon-light/variables';

$dark-green: #3d4734;
$deep-green: #1f2d24;
$black: $deep-green;
$white: #ffffff;

$default: #bedbbb;
$green: #34842d;
$hovergreen: #2e7927;
$border-green: #c4d9c0;
$background-green: #eef7e8;
$basegreen: #d1e1cf;
$red-600: #b7253d; // Deep Carmine
$red-500: #df405a; // Cerise

$success-green: color.adjust(#3c754d, $lightness: 8%);
$error-red: $red-500;
$warning-red: #ff5050; // Sunset Orange
$gold-star: #ca8f04; // Dark Goldenrod

$red-bookmark: $warning-red;

// Values from the classic Mastodon UI
$classic-base-color: $dark-green;
$classic-primary-color: $green;
$classic-secondary-color: $background-green;
$classic-highlight-color: $green;

// Variables for defaults in UI
$base-shadow-color: $black;
$base-overlay-background: $white;
$base-border-color: $white;
$simple-background-color: $white;
$valid-value-color: $success-green;
$error-value-color: $error-red;

// Tell UI to use selected colors
$ui-base-color: $classic-secondary-color;
$ui-base-lighter-color: $classic-base-color;
$ui-primary-color: $classic-primary-color;
$ui-secondary-color: $classic-base-color;
$ui-highlight-color: $classic-highlight-color;

$ui-button-color: $white;
$ui-button-background-color: $green;
$ui-button-focus-background-color: $hovergreen;
$ui-button-focus-outline-color: $green;
$ui-button-focus-outline: solid 2px $ui-button-focus-outline-color;

$ui-button-secondary-color: $green;
$ui-button-secondary-border-color: $border-green;
$ui-button-secondary-focus-border-color: $border-green;
$ui-button-secondary-focus-color: $white;

$ui-button-tertiary-color: $green;
$ui-button-tertiary-border-color: $green;
$ui-button-tertiary-focus-background-color: $green;
$ui-button-tertiary-focus-color: $white;

$ui-button-destructive-background-color: $red-500;
$ui-button-destructive-focus-background-color: $red-600;

$ui-button-icon-focus-outline: $ui-button-focus-outline;
$ui-button-icon-hover-background-color: $basegreen;

// Variables for texts
$primary-text-color: $black;
$darker-text-color: $classic-base-color;
$dark-text-color: $ui-base-lighter-color;
$secondary-text-color: $ui-secondary-color;
$highlight-text-color: $ui-highlight-color;
$action-button-color: $ui-base-lighter-color;
$action-button-focus-color: color.adjust(
  $ui-base-lighter-color,
  $lightness: 4%
);
$passive-text-color: $gold-star;

$active-passive-text-color: $success-green;

// For texts on inverted backgrounds
$inverted-text-color: $black;
$lighter-text-color: $classic-base-color;
$light-text-color: $ui-primary-color;

// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;

// Variables for components
$media-modal-media-max-width: 100%;

// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 1175px;
$mobile-breakpoint: 630px;

$font-sans-serif: 'qdon-font-sans-serif';
$font-display: 'mastodon-font-display';
$font-monospace: 'mastodon-font-monospace';

// Newly added colors
$account-background-color: $white;
$emojis-requiring-inversion: 'chains';

:root {
  --dropdown-shadow: 0 20px 25px -5px #{rgba($base-shadow-color, 0.25)},
    0 8px 10px -6px #{rgba($base-shadow-color, 0.25)};
  --modal-background-variant-color: #{rgba($ui-base-color, 0.7)};
  --surface-background-color: #{color.adjust($ui-base-color, $lightness: -4%)};
  --surface-variant-background-color: #{color.adjust(
      $ui-base-lighter-color,
      $lightness: -5%
    )};
  --surface-variant-active-background-color: #{color.adjust(
      $ui-primary-color,
      $lightness: 4%
    )};
  --avatar-border-radius: 8px;
}

// Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}

body {
  --dropdown-border-color: #d9e1e8;
  --dropdown-background-color: #fff;
  --modal-border-color: #bad1ba;
  --modal-background-color: var(--background-color-tint);
  --background-border-color: #c7e0c3;
  --background-color: #{$white};
  --background-color-tint: rgba(239, 252, 227, 80%);
  --background-filter: blur(10px);
  --rich-text-text-color: hsla(114deg, 19%, 34%, 100%);
  --rich-text-decorations-color: hsla(114deg, 30.8%, 79.6%, 100%);
  --rich-text-container-color: hsla(114deg, 30.8%, 79.6%, 80%);
}

:root {
  --dropdown-shadow: 0 20px 25px -5px #{rgba($base-shadow-color, 0.25)},
    0 8px 10px -6px #{rgba($base-shadow-color, 0.25)};
  --modal-background-variant-color: #{rgba($ui-base-color, 0.7)};
  --surface-background-color: #{color.adjust($ui-base-color, $lightness: -4%)};
  --surface-variant-background-color: #{color.adjust(
      $ui-base-lighter-color,
      $lightness: -5%
    )};
  --surface-variant-active-background-color: #{color.adjust(
      $ui-primary-color,
      $lightness: 4%
    )};
  --avatar-border-radius: 8px;
}

// Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}

body {
  --dropdown-border-color: #d9e1e8;
  --dropdown-background-color: #fff;
  --modal-border-color: #bad1ba;
  --modal-background-color: var(--background-color-tint);
  --background-border-color: #c7e0c3;
  --background-color: #{$white};
  --background-color-tint: rgba(239, 252, 227, 80%);
  --background-filter: blur(10px);
  --rich-text-text-color: hsla(114deg, 19%, 34%, 100%);
  --rich-text-decorations-color: hsla(114deg, 30.8%, 79.6%, 100%);
  --rich-text-container-color: hsla(114deg, 30.8%, 79.6%, 80%);
}
