@use 'base';
@use 'dark';
@use 'light';
@use '../../mastodon/theme/dark' as mastodon-dark;
@use '../../mastodon/theme/light' as mastodon-light;
@use '../../mastodon/theme/utils' as utils;

html {
  @include base.palette;
}

// Dark theme (default when no color-scheme is set)
[data-color-scheme='dark'],
html:not([data-color-scheme]) {
  color-scheme: dark;

  @include mastodon-dark.tokens;
  @include utils.invert-on-dark;
  @include dark.tokens;

  &[data-contrast='high'],
  [data-contrast='high'] & {
    @include mastodon-dark.contrast-overrides;
  }
}

// Light theme
[data-color-scheme='light'] {
  color-scheme: light;

  @include mastodon-light.tokens;
  @include utils.invert-on-light;
  @include light.tokens;

  &[data-contrast='high'],
  [data-contrast='high'] & {
    @include mastodon-light.contrast-overrides;
  }
}
