@use '../../mastodon/theme/base';

@mixin palete {
  // Green
  --color-dark-green-00: #3d4734;
  --color-dark-green-01: #1f2d24; // deep
  --color-green-00: #bedbbb;
  --color-green-01: #45a03b;
  --color-green-02: #9fc49b;
  --color-green-03: #8ab786;
  --color-green-04: #78aa72;
  --color-green-05: #669b60;
  --color-green-06: #528c4b;
  --color-green-07: #437c3d;
  --color-green-08: #35822d;
  --color-green-09: #1d4f18;
  --color-green-10: #164411;

  // Brand
  --color-indigo-50: var(--color-green-00);
  --color-indigo-100: var(--color-green-01);
  --color-indigo-200: var(--color-green-02);
  --color-indigo-300: var(--color-green-03);
  --color-indigo-400: var(--color-green-04);
  --color-indigo-500: var(--color-green-05);
  --color-indigo-600: var(--color-green-06);
  --color-indigo-700: var(--color-green-07);
  --color-indigo-800: var(--color-green-08);
  --color-indigo-900: var(--color-green-09);
  --color-indigo-950: var(--color-green-10);

  // Grey
  --color-grey-50: #f5ffef;
  --color-grey-100: #f1f4ef;
  --color-grey-200: #dce2d7;
  --color-grey-300: #c4cbb4;
  --color-grey-400: #9aaa8a;
  --color-grey-500: #769168;
  --color-grey-600: #5f7753;
  --color-grey-700: #536343;
  --color-grey-800: #2f3828;
  --color-grey-900: #2a3325;
  --color-grey-950: #1b2118;

  // Red
  --color-red-600: #b7253d;
  --color-red-500: #df405a;
  --color-red-400: #ff5050; // warning

  // Yellow
  --color-yellow-400: #ffb900;
  --color-yellow-600: #e17100;
  --color-yellow-700: #bb4d00;

  /*
  $ui-button-focus-outline: solid 2px --color-green-01;
  $action-button-focus-color: color.adjust(
    --color-dark-green,
    $lightness: 4%
  );
  */
}
