@use '@/styles/mastodon/theme/utils' as utils;

@use 'base';
@use 'dark';
@use 'light';

html {
  @include base.palete;
}

[data-color-scheme='dark'] {
  color-scheme: dark;

  @include dark.tokens;
  @include utils.invert-on-dark;

  & [data-contrast='high'],
  [data-contrast='high'] & {
    @include light.contrast-overrides;
  }
}

[data-color-scheme='light'] {
  color-scheme: light;

  @include light.tokens;
  @include utils.invert-on-light;

  & [data-contrast='high'],
  [data-contrast='high'] & {
    @include light.contrast-overrides;
  }
}
